<ion-app>
  <ion-router-outlet></ion-router-outlet>
<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Listado de pokemones
        
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-searchbar></ion-searchbar>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>id:1.picachu</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>id:2.Bulbasaur</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>id:3.Squirtle</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>id:4.Chrizard</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>id:5.Ditto</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
